.body{
    border: 2px solid black;
    padding: 5000px;
    margin: 0px;
    padding-left: 20px;
}

.main-heading{
    text-align: center;
}
.para1{
    padding-bottom: 20px;
    margin: -25px;
    padding-right: 20px;
}
.map-icon{
    height: 20px;
    padding-top: -20px;
}
.inline{
    display: inline-block;
}
.para2{
    padding-bottom: 20px;
    margin: 0px;
    padding-right: -100px;
    text-align:right;
    display: inline;
}
.phone-icon{
    height: 20px;
    padding-top: 10px;
}
.para{
    text-align: right;
}
.gmail-icon{
    height: 20px;
    padding-top: 0px;
}
.h2{
border-bottom: 2px solid black;
text-align:left;
padding-top: -200px;
margin-top: -15px;
margin-right: 200px;
}
.summary{
    text-align: left;
    padding-left: 300px;
}
.head2{
border-bottom: 2px solid black;
text-align:left;
padding-top: 10px;
margin-top: -15px;
margin-right: 200px;
}
.head3{
border-bottom: 2px solid black;
text-align:left;
padding-top: 15px;
margin-top: -15px;
margin-right: 200px;
}
.experience{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.head4{
border-bottom: 2px solid black;
text-align:left;
padding-top: 15px;
margin-top: -15px;
margin-right: 200px;
}
.education{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.head5{
border-bottom: 2px solid black;
text-align:left;
padding-top: 15px;
margin-top: -15px;
margin-right: 200px;
}
.marks{
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.course{
    color: green;
}
.head6{
border-bottom: 2px solid black;
text-align:left;
padding-top: 15px;
margin-top: -15px;
margin-right: 200px;
}
.head7{
border-bottom: 2px solid black;
text-align:left;
padding-top: 15px;
margin-top: -15px;
margin-right: 200px;
}